{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Películas en Cines</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    <div class="container">
        <h1>Películas en Cines</h1>
        <div class="row">
            {% for movie in movies %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.overview }}</p>
                    </div>
                    <a href="https://www.themoviedb.org/movie/{{ movie.link }}" class="btn btn-primary">Ir</a>
                </div>
            </div>
        {% endfor %}
            
        </div>
    </div>
</body>
</html>
